* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}

body {
  font-family: "Lato", sans-serif;
  color: #4B5157;
  font-size: 0.875rem;
}

a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
a:hover {
  color: #4592FF;
}

.header {
  margin-bottom: 30px;
}

.news {
  background: #edeff0;
  width: 100%;
  height: 100%;
}

.container {
  padding: 0 30px;
  max-width: 1140px;
  margin: 0 auto;
}

.bg {
  position: absolute;
  top: 136px;
  left: 0;
  background-color: #262d33;
  height: 530px;
  width: 100%;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #d9dadb;
}

.themes {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.themes-food {
  color: #3bbdc4;
  margin-bottom: 8px;
}
.themes-cars {
  color: #6E99AE;
  margin-bottom: 8px;
}
.themes-movies {
  color: #AC8EE3;
  margin-bottom: 8px;
}
.themes-nfl {
  color: #FFA34D;
  margin-bottom: 8px;
}
.themes-reviews {
  color: #3DC47E;
  margin-bottom: 8px;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.header__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  height: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.burger__menu p {
  color: #262D33;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}

.burger {
  background-color: transparent;
  cursor: pointer;
  width: 20px;
  height: 20px;
}
.burger span {
  display: block;
  width: 15px;
  height: 2px;
  margin: 5px 0;
  background-color: #bcbfc2;
}
.burger span:first-child, .burger span:last-child {
  width: 20px;
  margin: 0;
}

.vertical__line {
  margin: 25px 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 50px;
  height: 1px;
  background-color: #d9dadb;
}

.search__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.search__form input {
  padding: 0 5px;
}
.search__form [type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  height: 10px;
  width: 10px;
  background-image: url(https://cdn-icons-png.flaticon.com/512/151/151882.png);
  background-size: 10px 10px;
  cursor: pointer;
}

.form__button {
  background: transparent;
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-right: 50px;
}
.subscribe img {
  margin-bottom: -10px;
  -webkit-box-shadow: -2px 2px 2px #BCBFC2;
          box-shadow: -2px 2px 2px #BCBFC2;
}

.subscribe__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: -5px;
}

.subscribe__now {
  color: #262D33;
  font-family: Lato;
  font-size: 12px;
  line-height: 15px;
}

.subscribe__price {
  color: #939699;
  font-size: 12px;
  line-height: 15px;
}

.account {
  margin-bottom: -5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user__avatar {
  margin-right: 10px;
}

.place__img {
  margin-right: 15px;
}

.place__data {
  margin-right: 50px;
}

.place__weather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.weather__icon {
  margin-right: 10px;
}

.navigation {
  width: 100%;
  padding: 17px 0;
}

.nav__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #fff;
}

.new__news {
  position: relative;
  margin-bottom: 30px;
  z-index: 10;
}

.news__wrapper {
  background-color: #30363d;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0;
}

.news__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 25px;
  border-right: 1px solid #d9dadb;
}
.news__content:last-child {
  border: none;
}

.news__title {
  color: #fff;
  font-family: Roboto Slab;
  font-weight: 700;
  line-height: 25px;
  max-width: 144px;
  margin-right: 15px;
}

.recommen__block {
  margin-bottom: 30px;
}

.recommen__block-wrapper {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 15px;
  position: relative;
  z-index: 2;
}

.recommen__left {
  position: relative;
  max-width: 875px;
}

.recommen__left-bg {
  width: 100%;
  border-radius: 15px 0px 0px 15px;
  height: 100%;
}

.recommen__content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 55px 0 100px 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
}

.recommen__content-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.author__icon {
  width: 45px;
  height: 45px;
}

.author__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2px;
}

.author__name {
  font-size: 14px;
  line-height: 20px;
  opacity: 0.85;
}

.author__hobby {
  font-size: 12px;
  line-height: 15px;
  opacity: 0.4;
}

.info__destinations {
  color: #4592FF;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.info__title {
  font-family: Roboto Slab;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px; /* 125% */
  max-width: 600px;
  margin: 25px 0 40px;
}

.info__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.info__more-btn {
  position: relative;
  background-color: #4592FF;
  padding: 0 45px 0 25px;
  height: 40px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Lato;
  font-size: 14px;
  line-height: 20px; /* 142.857% */
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.info__more-btn:hover {
  color: inherit;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.info__more-btn::after {
  position: absolute;
  content: "";
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url(../img/recommen-block/Arrow.svg);
  width: 20px;
  height: 20px;
  z-index: 5;
}

.info__music {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.info__music-btn {
  width: 50px;
  height: 50px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.4745098039);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info__music-descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2px;
}

.music__descr-name {
  font-size: 14px;
  line-height: 20px; /* 142.857% */
  opacity: 0.85;
}

.music__descr-time {
  font-size: 12px;
  line-height: 15px; /* 125% */
  opacity: 0.4;
}

.recommen__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.recommen__right-title {
  color: #262D33;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding: 20px 25px;
}

.recommen__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.recommen__item {
  cursor: pointer;
  padding: 20px 25px;
  position: relative;
  border-bottom: 1px solid #d9dadb;
}
.recommen__item:first-child {
  border-top: 1px solid #d9dadb;
}
.recommen__item:last-child {
  border: none;
}
.recommen__item:hover {
  color: inherit;
  background-color: #f5f5f5;
}
.recommen__item-active {
  background-color: #f5f5f5;
}
.recommen__item-active::before {
  position: absolute;
  content: "";
  top: 50%;
  left: -12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url(../img/recommen-block/Path.svg);
  width: 12px;
  height: 20px;
  z-index: 5;
}

.recommen__news {
  font-size: 14px;
  line-height: 20px;
  max-width: 210px;
}